<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">e-commerce App</a>
    @if(showSearch){

    <form class="d-flex" role="search">
      <input
        class="form-control me-2"
        type="text"
        placeholder="Search Products"
        aria-label="Search"
        [(ngModel)]="searchTerm"
        (input)="searchProducts()"
        name="search"
        id="search"
        #search
      />
      <button
        (click)="clearSearch(search, $event)"
        class="btn btn-outline-primary"
      >
        @if(search.value===''){<i class="fa-solid fa-magnifying-glass"></i
        >}@else{<i class="fa-solid fa-x"></i>}
      </button>
    </form>
    }
    <div class="nav">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Products</a
          >
          <a class="nav-link" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
          <a class="nav-link" routerLink="/register" routerLinkActive="active"
            >Register</a
          >
          <a class="nav-link" routerLink="/cart" routerLinkActive="active"
            ><i class="fa-solid fa-cart-shopping"></i> {{ cartCount }}</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
