.container {
  padding: 20px;
}
.product-image {
  width: 500px;
  height: 500px;
}
.product-rating {
  margin-top: 10px;
}
.product-price {
  font-weight: bold;
}
.stock-message-red {
  color: red;
}
.stock-message-green {
  color: green;
}
.add-to-cart-button {
  margin-top: 10px;
}
