.cart-item img {
  width: 100px;
}
.btnn {
  width: 40px;
  height: 40px;
  border-radius: 30%;
}
img {
  width: 100px;
  height: 100px;
}

.quantity-input {
  width: 50px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.cart-item td {
  vertical-align: middle;
}
.remove-btn {
  background: none;
  border: none;
  color: #dc3545;
  font-size: 1.2rem;
}
.remove-btn:hover {
  color: #c82333;
}
.link {
  text-decoration: none;
  color: black;
}
.samll {
  padding-left: 65px;
}
